[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-marshmallow = "*"
marshmallow = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
psycopg2 = "*"
flask-jwt-extended = "*"
argon2-cffi = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
